<section class="hero">
  <div class="row">
    <div class="large-6 large-push-2 columns">
      <div class="quote-1">
        <p>Countdown to the next Tip-Off</p>
      </div>
    </div>
  </div>
</section>
<section class="choice">
  <div class="row">
    <div class="small-6 large-centered columns gamechoice">
      <div class="gameSelection">
      </div>
    </div>
  </div>
  </section>
<section class="games">
  <div class="row">
    <div class="small-6 columns seatgeek itemtext"><h1>fdsfsda</h1></div>
    <div class="small-6 columns stubhub itemtext"><h1>fdsfdsa</h1></div>
  </div>
</section>
