<div class="jumbotron">
  <div class="container">

    <h1>It's almost time for Tip-Off</h1>
    <p>Scroll down to see prices of the up and coming Warriors Games</p>
    <div class="clock"></div>
  </div>
</div>
<div class="row prices">
  <div class="container">
    <div id="seatgeekPrices" class="col-xs-6 sgp">
        <ul>
      <img src="http://blogs-images.forbes.com/edzitron/files/2011/04/seatgeek-logo-300x90.png">
          <div v-for="game in games" class="everyGame">
            <a href={{game.url}}>
              <div>
                {{ game.title }}<br>
                {{ game.venue }}<br>
                {{ game.location }}<br>
                Lowest Price: {{ game.lowest_price | currency '$' }}<br>
              </div>
            </a>
          </div>
        </ul>
      </div>
     <div id="stubhubPrices" class="col-xs-6 shp">
        <ul>
       <img src="https://pmcvariety.files.wordpress.com/2015/03/stubhub_logo.jpg">
          <div v-for="game in games" class="everyGame">
            <a href={{game.url}}>
              <div>
                {{ game.title }}<br>
                {{ game.venue }}<br>
                {{ game.location }}<br>
                Lowest Price: {{ game.lowest_price | currency '$' }}<br>
              </div>
            </a>
          </div>
        </ul>
    </div>

  </div>
</div>
