<div id="seatgeekPrices">
  <ul>
    <div v-for="game in games">
      <a href={{game.url}}>
        <div>
          {{ game.title }}<br>
          {{ game.venue }}<br>
          {{ game.location }}<br>
          {{ game.lowest_price }}<br>
        </div>
      </a>
    </div>
  </ul>
</div>
