// Place all the styles related to the team controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero {
  background: url("https://ozoneinsider.files.wordpress.com/2014/10/golden-state-warriors-wallpaper-2013-hd-6.jpg") no-repeat center center;
  background-size: cover;
  height: 38vh;
  margin-bottom: 3rem;
  opacity: 0.9;}
/*
.quote-1{
  margin-top: -2rem;
  text-align: center;
  opacity: 0.9;
  border-radius: 50%;
  height: 12rem;
  width: 12rem; }
  @media only screen and (min-width: 64.063em) {
    .quote-1 {
      margin: 0 auto;
      margin-top: 2rem;
      height: 13rem;
      width: 20rem; } }
  .quote-1 p {
    color: #FFFFFF;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
*/
.gamechoice {
  text-align: center;
}
.itemtext {
  text-align: center;
}
