.hero-unit {
  background: url('http://cdn-jpg.si.com/sites/default/files/styles/si_photo_tile_image_marquee_war_single/public/2015/10/28/stephen-curry-warriors-pelicans-opener.jpg') no-repeat;
  max-width: 100%;
  height: 49em;
  background-position: center;
}
.hero-unit h1 {
  color: #2C57BF;
  text-align: center;
}
.hero-unit p {
  color: #F8A428;
  text-align: center;
}
